### Homework

Before you begin, remember to import the necessary libraries.

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#### Standard Exercise

The first exercise we saw in class used the following code to produce a list of all the names of the countries available in the [source website](https://www.scrapethissite.com/pages/simple/):

In [ ]:
url = "https://www.scrapethissite.com/pages/simple/"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="page")
countries = results.find_all("div", class_="col-md-4 country")
names = []
for c in countries: 
    names.append(c.find("h3", class_="country-name").text.strip())
names[0:5]

1. Run the code above in order to produce a list called `names` that contains all the country names in the source website. How many countries are there in the list?

2. Using the same logic seen in class, produce a new list, called `capitals`, containing the capitals of the relative country name. *Notice that the tag identifier for this piece of data may be different from the previous one.*

3. Using the same logic seen in class, produce a new list, called `population`, containing the number of people living in the relative country.

4. Using the same logic seen in class, produce a new list, called `area`, containing the area (in squared kilometers) of the relative country.

5. Given the four lists you just created, produce a new DataFrame called `df_country`, containing four columns `name`, `capital`, `population` and `area`. The DataFrame should have 4 columns and 250 rows, check that this is the case.

6. Check the data type of each column in the DataFrame. Are all column in the correct data format? If not, change each column's data type appropriately.

7. Create a new column called `pop_density` which represents the number of people per squared kilometer living in each country.

8. Which country has the highest population? And which country has the highest population density? Did you expect this result?

9. How does Italy rank in terms of highest population density?

#### Advanced Exercise

The second exercise we saw in class used the following code to produce a list of the titles of the 250 most rated movies in the [IMDB website](https://www.imdb.com/chart/top/?ref_=nv_mv_250):

In [ ]:
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'
page = requests.get(url, headers={'Accept-Language': "lang=en-US"})
soup = BeautifulSoup(page.content, "html.parser")
movies = soup.find_all('td', class_='titleColumn')
movie_names = []
for m in movies: 
    movie_names.append(m.find('a').text)
movie_cast = []
for m in movies: 
    movie_cast.append(m.find('a').attrs.get('title'))
df_movies = pd.DataFrame(
    {'name': movie_names,
     'cast': movie_cast
    })
df_movies.head()

1. Run the code above in order to produce a DataFrame called `df_movies` that contains all the movie titles and cast in the source website. How many rows and columns are there in the DataFrame?

2. Using the same logic seen above, produce a new list, called `movie year`, containing the year in which the movie was produced.

3. Using the same logic seen above, produce a new list, called `movie_rating_data`, containing the contents of the element `<td class="ratingColumn imdbRating"> ... </td>`. 
- *Note1: the result for the first movie should be **'9.2 based on 2,602,995 user ratings'***
- *Note2: first find all elements of tag `td` and parameter `class='ratingColumn imdbRating'`, then for each one of those elements, extract the `title` attribute of the `strong` tag.*

4. From the question above, you should've retrieved an output similar to the following: **'9.2 based on 2,602,995 user ratings'**. Create two more lists `movie_rating` and `movie_voters` that store the rating of the movie and the total number of voters, respectively.

5. Given the three lists you just created, add to the existing `df_movies` DataFrame three new columns called `year`, `rating` and `voters` columns. Then add a new column to the same DataFrame called `rank` that show the ranking of each movie from 1 to 125. *Hint: you can use the `.index` attribute as part of the solution.*